body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-container h2 {
    margin-bottom: 30px;
    color: #706f6f;
}

.create-container h4 {
    margin-bottom: 25px;
    margin-top: 25px;
    color: #706f6f;
}

.create-container {
    max-width: 500px;
    width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

.btn-update, .btn-create, .btn-cancel, .btn-back {
    margin-top: 15px;
    background: linear-gradient(to right, #a163f5, #d7a0de);
    color: #fff;
    border: none;
    border-radius: 3px;
}

.btn-update:hover, .btn-create:hover, .btn-cancel:hover, .btn-back:hover {
    background: linear-gradient(to right, #7a3fba, #b679c7);
    color: white;
}

.btn-cancel {
    margin-top: 0;
}

#deleteAccountBtn {
    margin-bottom: 25px;
    margin-top: 15px;
}

.popup {
    display: none;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

