.date-container {
    position: sticky;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}

.jour {
    font-size: 22px;
    padding-left: 30px;
    padding-right: 30px;
}

.date-container h2 {
    margin-top: 30px;
}

.jour-actuel {
    border: 2px solid #a163f5;
}

.heureLigne {
    font-size: 20px;
    padding: 0;
    margin: 0;

    border-top: 2px solid #878787;
    height: 90px;
}

.tableauHeure {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #878787;
    position: relative;
    overflow: hidden;
}

.heureLigneActuelle {
    color: red;
    position: absolute;
    margin-right: 50px;
}

.ligneHeureActuelle {
    border: 1px solid red;
}

#dateForm {
    display: flex;
    justify-content: end;
    margin-bottom: -30px;
    margin-right: 50px;
}

.btn-date {
    background: linear-gradient(to right, #a163f5, #d7a0de);
    color: #fff;
    border: none;
    border-radius: 3px;
}

.btn-date:hover {
    background: linear-gradient(to right, #7a3fba, #b679c7);
    color: white;
}

.flechel {
    margin-left: 50px;
}

.flecher {
    margin-right: 50px;
}

.jour-actuel-today {
    color: red;
}

.jour-actuel-today-both {
    color: red;
    border: 2px solid #a163f5;
}

.btn-jour {
    font-size: 22px;
    border-radius: 100px;
}

.btn-jour:hover {
    border: 2px solid black;
}

.calendar h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.eventButton {
    margin-bottom: 20px;
    height: 40px;
    background: linear-gradient(to right, #a163f5, #d7a0de);
    color: #fff;
    border: none;
    border-radius: 3px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.eventButton .bi {
    margin-left: 7px;
}

.eventButton:hover {
    background: linear-gradient(to right, #7a3fba, #b679c7);
    color: white;
}

.saveButton {
    background: linear-gradient(to right, #a163f5, #d7a0de);
    color: #fff;
}

.saveButton:hover {
    background: linear-gradient(to right, #7a3fba, #b679c7);
    color: white;
}

.event {
    position: absolute;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameEvent {
    font-size: 22px;
    margin: 0;
    padding: 10px;
    border: 2px solid black;
    border-radius: 30px;
    color: white;
}

#eventColor {
    height: 50px;
}

.timeStart {
    position: absolute;
    right: 5px;
    top: 0;
}

.timeEnd {
    position: absolute;
    right: 5px;
    bottom: 0;
}
