.date-container {
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}

.jour {
    font-size: 22px;
    padding-left: 30px;
    padding-right: 30px;
}

.date-container h2 {
    margin-top: 30px;
}

.jour-actuel {
    border: 2px solid #a163f5;
}

.heureLigneActuelle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 15px;
}

.heureLigne {
    font-size: 20px;
    margin-bottom: 30px;
}

.colHeureActuelle {
    margin-left: 4px;
}

.colLigneActuelle {
    margin-right: -23px;
    margin-left: 4px;
}

#dateForm {
    display: flex;
    justify-content: end;
    margin-bottom: -30px;
    margin-right: 50px;
}

.btn-date {
    background: linear-gradient(to right, #a163f5, #d7a0de);
    color: #fff;
    border: none;
    border-radius: 3px;
}

.btn-date:hover {
    background: linear-gradient(to right, #7a3fba, #b679c7);
    color: white;
}

.flechel {
    margin-left: 50px;
}

.flecher {
    margin-right: 50px;
}

.jour-actuel-today {
    background-color: red;
}

.jour-actuel-today-both {
    background-color: red;
    border: 2px solid #a163f5;
}

.btn-jour {
    font-size: 22px;
    border-radius: 100px;
}

.btn-jour:hover {
    border: 2px solid black;
}
