body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.logo {
    max-width: 75%;
    height: auto;
    margin-bottom: 20px;
}

.login-container {
    text-align: center;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 5px;
}

.login-container h2 {
    margin-bottom: 30px;
    color: #706f6f;
}

.login-container p {
    margin-bottom: 20px;
    color: #555;
}

.form-group {
    margin-bottom: 15px;
}

.btn-success {
    background: linear-gradient(to right, #a163f5, #d7a0de);
    color: #fff;
    border: none;
    border-radius: 3px;
}

.btn-success:hover {
    background: linear-gradient(to right, #7a3fba, #b679c7);
}

.btn-create {
    background: linear-gradient(to right, #a163f5, #d7a0de);
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
}

.btn-create:hover {
    background: linear-gradient(to right, #7a3fba, #b679c7);
    color: white;
}

.error-message {
    color: red;
    margin-bottom: 15px;
    margin-top: 10px;
}
