body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-container h2 {
    margin-bottom: 30px;
    color: #706f6f;
}

.create-container h4 {
    margin-bottom: 25px;
    margin-top: 25px;
    color: #706f6f;
}

.create-container {
    max-width: 500px;
    width: 400px;
    margin: 0 auto;
}

.font-size-controls {
    margin-top: 10px;
}

.btn-back {
    margin-top: 15px;
    background: linear-gradient(to right, #a163f5, #d7a0de);
    color: #fff;
    border: none;
    border-radius: 3px;
}

.btn-back:hover {
    background: linear-gradient(to right, #7a3fba, #b679c7);
    color: white;
}

.font-adjust-btn {
    border: none;
    border-radius: 3px;
    padding: 10px;
}

.theme-toggle {
    border: none;
    border-radius: 3px;
    padding: 10px 10px;
}


