body {
    background-color: white;
    color: black;
}

body.dark-theme {
    background-color: #2d2d30;
    color: white;
}

.navbar {
    background-color: white;
}

.navbar.dark-theme {
    background-color: #2d2d30;
}

.containerSettings.dark-theme {
    background-color: green;
}